/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 
   
	body, html { 
        height:100%; 
        font:1em/1.5 Cambria, Georgia, Times, 
        "Times New Roman", serif;
         }
	h1 { 
        font-family:pt_serifbold; 
    }
	.content { 
        width:1000px; 
        margin:0 auto;
         }
   
   
	header { 
        position:fixed;
         top:0;
          left:0; 
          width:100%; 
          background-color:blue; 
          transition:.5s; 
          -webkit-transition:.5; 
      }
	header.headroom-unpinned { 
        transform:translateY(-100%); 
        -webkit-transform:translateY(-100%); 
    }
	
	header h1 { 
        color:black ; 
        margin:0; 
        text-align:center; 
        text-shadow:2px 2px 5px #000; 
        font-size:3em; 
    }
	header h1 span { 
        color:#0769AD; 
    }
	header ul { 
        list-style:none; 
        margin:20px 0; 
        padding:0;
         text-align:center; 
     }
	header ul li { 
        display:inline-block; 
       padding:0px 5px;

         }
	header ul li:hover { 
        background-color:#1e2328; 
    }
	header ul li a { 
       text-shadow:2px 2px 5px #000;
color:black;
text-transform:uppercase;
font-size:28px;
 
    }
	
	header.headroom-not-top { 
        height:50px;
         }
	header.headroom-not-top  h1 { 
        float:left; font-size:30px; 
        line-height:50px; 
    }
	header.headroom-not-top nav { 
        float:right; 
    }
	header.headroom-not-top nav ul { 
        margin:0; 
    }
	header.headroom-not-top nav ul li { 
        display:block; 
        float:left; 
        padding:0 20px; 
        margin:0 10px; 
    }
	header.headroom-not-top nav ul li a { 
        font-size:16px; 
        line-height:50px; 
    }
	
	section { 
        min-height:100%;
         }
	section .content {
     padding:100px 0; 
 }
	#section-1 { 
        background:url(../img/technology.jpg); 
        background-size:cover; 
        color:black; 
    }
	#section-1 > div { 
        padding:200px 0;
         }
	#section-1 h1 { 
        font-size:4em; 
        text-shadow:2px 2px 5px #000; 
        line-height:1; 
    }
	#section-1 p { 
        background-color:rgba(0,0,0,.5); 
        font-size:2em; 
    }
	
	#section-2, #section-4 { 
        background-color:#efefef; 
    }
	
	#section-3 { 
        background:url(../img/ipad.jpg); 
        background-size:cover; 
    }
	#section-3 > div > div { 
        background-color:rgba(255,255,255,.7); 
        padding:50px 20px; 
    }
	#section-3 h1 { 
        font-size:4em; 
        text-shadow:2px 2px 5px #000; 
        line-height:1; 
        text-shadow:none; 
    }
	#section-3 p { 
        font-size:1.5em; 
    }
	
	#scroll-up {
	  bottom: 20px;
	  right: 20px;
	  padding: 10px 20px;
	  background: #555;
	  color: #fff;
	  text-decoration:none;
	}
	
	#scroll-up:before {
	  content: "\f0aa";
	  font-family: 'FontAwesome';
	  margin-right:5px; 
	}

	
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}