<header id="header">	
			<div class="content">
				<div class="row">
					<div class="grid-two-thirds">
				<nav class="main-menu">
					<ul>
						<li><a class="logo" href="#home"><img src="images/logo.png"></a></li>
						<li><a href="#section-1">**</a></li>
						<li><a href="#section-2">VIDEOS</a></li>
						<li><a href="#section-3">ABOUT</a></li>
						<li><a href="#section-4">CONTACT</a></li>
					</ul>
</div><!--emd two thirds-->

<div class="grid-third">
	<i class="fa fa-facebook"><a href="#"></a></i>
		<i class="fa fa-instagram"><a href="#"></a></i>
				<i class="fa fa-twitter"><a href="#"></a></i>

			<i class="fa fa-vine"><a href="#"></a></i>

		</div><!--end grid-third-->

				</div><!--end row-->
				</nav>
			</div>
		</header>		
		

	
</section>